.footer {
   background: $dark-violet;
}

.footer_wrapper {
   display: grid;
   padding: 40px 20px;
   @media (min-width: $breakpoint) {
      grid-template-columns: 3fr 1fr 1fr 1fr 2fr;
      gap: 40px;
   }
}

.footer_group {
   margin: 10px 0;
}

.footer_title {
   color: white;
}

.footer_link {
   display: block;
   font-size: 0.8rem;
   font-weight: lighter;
   color: $light-gray;
   line-height: 2;
   text-decoration: none;
   &:hover {
      color: $primary-cyan;
   }
}

.footer_icon-link {
   text-decoration: none;
   color: inherit;
}

.footer_icon {
   margin: 10px;
}
