.get-started {
   padding: 80px 20px 60px;
   background: url('/images/bg-boost-mobile.svg') bottom left no-repeat;
   background-color: $primary-violet;
}

.get-started_title {
   color: white;
   margin: 0;
}
